svg(
    width="34"
    height="34"
    viewBox="0 0 34 34"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M34 13.2873C34 13.1571 34 13.1571 34 13.0268C34 12.8966 33.8722 12.8966 33.8722 12.7662C33.7445 12.7662 33.7443 12.636 33.6166 12.636L22.3685 10.9425L17.3835 0.390805C17.3835 0.260537 17.2556 0.260537 17.2556 0.130269C17.1279 0.130269 17.1279 0 17 0C16.8722 0 16.8722 5.17392e-07 16.7443 0.130269C16.6166 0.130269 16.6166 0.260537 16.6166 0.390805L11.6316 10.9425L0.383446 12.636C0.255626 12.636 0.255623 12.636 0.127803 12.7662C-1.66331e-05 12.7662 0 12.8966 0 13.0268C0 13.1571 0 13.1571 0 13.2873C0 13.4177 0.127803 13.4177 0.127803 13.5479L8.18048 21.7548L6.26316 33.3487C6.26316 33.4789 6.26316 33.4789 6.26316 33.6093C6.26316 33.7395 6.39097 33.7395 6.39097 33.8698C6.51879 33.8698 6.5188 34 6.64663 34C6.77443 34 6.77445 34 6.90227 34L16.8722 28.5288L26.8421 34C26.97 34 26.97 34 27.0977 34C27.2256 34 27.2256 34 27.3534 34L27.609 33.7395C27.609 33.6092 27.609 33.6092 27.609 33.4789L25.6918 21.885L33.7443 13.6782C33.8722 13.5479 34 13.4177 34 13.2873ZM24.4136 16.6744L21.0903 19.9311C21.0903 19.9311 20.9624 20.0613 20.9624 20.1916C20.9624 20.3218 20.9624 20.3218 20.9624 20.4521L21.7294 25.1417C21.7294 25.2721 21.7294 25.2721 21.7294 25.4023L21.6016 25.5326C21.6016 25.5326 21.4737 25.5326 21.4737 25.6628C21.3459 25.6628 21.3459 25.6628 21.3459 25.6628L17.2556 23.4483C17.1279 23.4483 17.1279 23.4483 17 23.4483C16.8722 23.4483 16.8722 23.4483 16.7443 23.4483L12.6542 25.6628H12.5263C12.3985 25.6628 12.3985 25.6628 12.3985 25.5326L12.2707 25.4023C12.2707 25.4023 12.2707 25.2721 12.2707 25.1417L13.0376 20.4521C13.0376 20.3218 13.0376 20.3218 13.0376 20.1916C13.0376 20.0613 12.9098 20.0613 12.9098 19.9311L9.45865 16.4138C9.45865 16.2835 9.45865 16.2835 9.45865 16.1533C9.45865 16.0229 9.45864 16.0229 9.58646 16.0229L9.71431 15.8927L14.188 15.2413C14.3158 15.2413 14.3158 15.2413 14.4437 15.1111L14.5715 14.9809L16.6166 10.682L16.7443 10.5517H17L17.1279 10.682L19.173 14.9809C19.173 15.1111 19.3008 15.1111 19.3008 15.1111C19.3008 15.1111 19.4285 15.2413 19.5564 15.2413L24.0301 15.8927C24.1579 15.8927 24.1579 15.8927 24.1579 16.0229L24.2858 16.1533C24.2858 16.1533 24.2858 16.2835 24.2858 16.4138C24.2858 16.544 24.4136 16.544 24.4136 16.6744Z"
        fill="#FF9D14"
    )
