svg(
    width="18"
    height="10"
    viewBox="0 0 18 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M16.5237 0.146377L17.3861 0.960181C17.5952 1.15752 17.5952 1.49016 17.3861 1.68749L9.11464 9.4926C8.92198 9.67439 8.62099 9.67439 8.42833 9.4926L0.156871 1.68749C-0.0522587 1.49015 -0.0522587 1.15752 0.156871 0.96018L1.03003 0.136251C1.22096 -0.0439162 1.51871 -0.0457444 1.71184 0.132065L8.77148 6.63169L15.8424 0.141673C16.0356 -0.0356409 16.333 -0.0335885 16.5237 0.146377Z"
        fill="#1D5191"
    )
