svg(
    width="18"
    height="10"
    viewBox="0 0 18 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M16.5237 0.146377L17.3861 0.960181C17.5952 1.15752 17.5952 1.49016 17.3861 1.68749L9.11464 9.4926C8.92198 9.67439 8.62099 9.67439 8.42833 9.4926L0.156869 1.68749C-0.0522602 1.49016 -0.0522602 1.15752 0.156869 0.960183L1.03003 0.136254C1.22096 -0.0439133 1.51871 -0.0457416 1.71184 0.132068L8.77148 6.63169L15.8424 0.141673C16.0356 -0.0356406 16.333 -0.0335883 16.5237 0.146377Z"
        fill="#005A9C"
    )