svg(
    width="13"
    height="7"
    viewBox="0 0 13 7"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M11.9463 0.137983L12.3557 0.512414C12.5725 0.710641 12.5725 1.05211 12.3557 1.25033L6.5966 6.51755C6.40556 6.69227 6.11275 6.69227 5.92171 6.51755L0.162573 1.25033C-0.0541672 1.0521 -0.0541672 0.71064 0.162573 0.512413L0.579587 0.131019C0.768894 -0.0421182 1.05852 -0.0438915 1.24993 0.126915L6.25916 4.59687L11.2766 0.133371C11.468 -0.0369488 11.7572 -0.0349575 11.9463 0.137983Z"
        fill="#505050"
    )