svg(
    width="19"
    height="19"
    viewBox="0 0 19 19"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M17.932 2.96953L15.4359 0.475781C15.1312 0.171094 14.7234 0 14.2922 0C13.8609 0 13.4531 0.16875 13.1484 0.475781L10.4602 3.15937C10.1555 3.46406 9.98437 3.87422 9.98437 4.30547C9.98437 4.73906 10.1531 5.14453 10.4602 5.45156L12.5602 7.5539C12.0817 8.66855 11.3944 9.6813 10.5352 10.5375C9.675 11.4023 8.66953 12.0844 7.5539 12.5672L5.45391 10.4648C5.14922 10.1602 4.74141 9.98906 4.31016 9.98906C4.09744 9.98827 3.88672 10.03 3.69032 10.1116C3.49392 10.1933 3.3158 10.3134 3.16641 10.4648L0.475781 13.1484C0.171094 13.4531 0 13.8633 0 14.2945C0 14.7281 0.16875 15.1336 0.475781 15.4406L2.96953 17.9344C3.48984 18.4547 4.20703 18.7523 4.94297 18.7523C5.09531 18.7523 5.24297 18.7406 5.39297 18.7148C8.49609 18.2039 11.5758 16.5516 14.0625 14.0672C16.5469 11.5781 18.1969 8.49844 18.7125 5.39297C18.8602 4.51172 18.5648 3.60469 17.932 2.96953ZM17.0508 5.11406C16.5937 7.87734 15.1078 10.6336 12.8695 12.8719C10.6312 15.1102 7.87734 16.5961 5.11406 17.0531C4.76719 17.1117 4.41094 16.9945 4.15781 16.7437L1.70859 14.2945L4.30547 11.6953L7.11328 14.5078L7.13437 14.5289L7.64062 14.3414C9.17561 13.777 10.5695 12.8857 11.7258 11.729C12.882 10.5724 13.7729 9.17815 14.3367 7.64297L14.5242 7.13672L11.693 4.30781L14.2898 1.70859L16.7391 4.15781C16.9922 4.41094 17.1094 4.76719 17.0508 5.11406Z"
        fill="#1D5191"
    )
