mixin other-services(className = '', titleText = 'хирургической стоматологии', isAccent = false)
    section.other-services(class=className)
        div.other-services__inner.container
            if isAccent
                h1.other-services__title.text-center.text-w700.color-accent Другие услуги
            else
                h1.other-services__title.text-center.text-w700.color-blue Другие услуги

            h1.other-services__title.section__title.text-center.text-w500= titleText

            div.other-services__slider-container.position-relative
                div.other-services__slider.swiper
                    div.swiper-wrapper
                        each item in otherServices
                            li.other-services__item.flex-column.swiper-slide
                                div.other-services__img-container.img-container.w-100


                                div.other-services__info.flex.flex-column
                                    div.other-services__top
                                        h4.other-services__name.text-center= item.title

                                        p.other-services__text.text-center= item.text

                                    div.other-services__bottom
                                        div.other-services__price.flex.flex-align-end.flex-justify-center
                                            p.text-w500= item.discount

                                            h3.text-w700.color-blue.text-center= item.price

                                        a(href="#").other-services__link.button.dark.w-100 Подробнее

                button(type="button" aria-label="Предыдущий слайд").other-services__btn.prev.swiper-arrow
                    include ../icons/swiper-arrow
                button(type="button" aria-label="Следующий слайд").other-services__btn.next.swiper-arrow
                    include ../icons/swiper-arrow