mixin prices(className = '', titleText = '', arr = [], linksText = '', linksClass = '', btnClass = '', isBlue = true, isAccent = false)
    section.prices(class=[className, isBlue ? 'is-blue' : ''])
        div.prices__inner.container
            if titleText
                if isAccent
                    h2.prices__title.color-accent.text-center= titleText
                else
                    h2.prices__title.color-blue.text-center= titleText

            ul.prices__list.flex.flex-column
                each item in arr
                    li.prices__item.flex.flex-align-end
                        div.prices__name-wrapper
                            div.prices__name-inner
                                h3.prices__name.text-w500(class= item.isBlue ? 'is-accent' : '')= item.title
                                if item.about
                                    br
                                    p.prices__about.text-w400= item.about

                        div.prices__price.flex.flex-align-end.text-nowrap
                            if item.discount
                                h3.prices__discount.text-w400= `${item.discount} ₽`
                            if item.from
                                h3.text-w700.color-blue от
                            h3.text-w700.color-blue= item.price
                            h3.text-w700.color-blue ₽

                        if item.hasLink
                            a(href="#" class= linksClass).prices__link.button.accent= linksText

            if btnClass
                a(href="#" class=btnClass).prices__btn.button Посмотреть все цены