svg(
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M5.68656 15.6464C5.4913 15.8416 5.4913 16.1582 5.68656 16.3535L6.85977 17.5267C7.05491 17.7218 7.37125 17.722 7.56656 17.527L14.6663 10.4399V26.1666C14.6663 26.4427 14.8902 26.6666 15.1663 26.6666H16.833C17.1091 26.6666 17.333 26.4427 17.333 26.1666V10.4399L24.4195 17.5391C24.6147 17.7346 24.9315 17.7348 25.1269 17.5394L26.3128 16.3535C26.5081 16.1582 26.5081 15.8416 26.3128 15.6464L16.3532 5.68681C16.158 5.49154 15.8414 5.49154 15.6461 5.68681L5.68656 15.6464Z"
        fill="#1D5191"
    )
