
section.team-dentists.section-mb-112
    div.team-dentists__inner.container
        h3.team-dentists__title.text-w400.text-center Мы собрали, пожалуй, лучшую команду стоматологов в Санкт-Петербурге! Вас будут лечить врачи мирового уровня!

        h3.team-dentists__subtitle.text-center Знакомьтесь! #[span.color-accent Наши врачи – наша гордость!]

        div.team-dentists__slider-container.position-relative
            div.team-dentists__slider.swiper
                div.swiper-wrapper
                    each item in teamDentists
                        div.team-dentists__card.swiper-slide
                           div.team-dentists__img-container.img-container.w-100
                               img(src=item.img alt=item.name loading="lazy")

                           div.team-dentists__info.flex.flex-column
                                div.team-dentists__text-block
                                   p.team-dentists__name.text-w500= item.name
                                   p.team-dentists__experience= item.experience
                                   p.team-dentists__job.text-w500= item.job

                                a(href="#").team-dentists__link.button.dark.w-100 Подробнее


            button(type="button" aria-label="Предыдущий слайд").team-dentists__btn.prev.swiper-arrow
                include ../../icons/swiper-arrow
            button(type="button" aria-label="Следующий слайд").team-dentists__btn.next.swiper-arrow
                include ../../icons/swiper-arrow

        a(href="#").team-dentists__more.button.dark.m-auto Подробнее о врачах
