mixin person(item, isLeft = true, hasAwards = false)
    div.person(class= [isLeft ? '' : 'is-right', hasAwards ? 'has-awards' : ''])
        div.person__card.flex
            div.person__info.position-relative
                div.person__img-container.img-container.position-absolute
                    img(src=item.img, alt=item.name loading="lazy")

                div.person__text-block.flex.flex-column
                    h2.person__name.text-w800.color-blue= item.name

                    div.person__text-block_bottom
                        if item.mainJob
                            p.person__job.text-w500.color-accent= item.mainJob

                        p.person__job.text-w500= item.firstJob

                        if item.secondJob
                            p.person__job.text-w500= item.secondJob

                        p.person__experience.text-w500.color-accent= item.experience

            div.person__right(class= hasAwards ? 'flex flex-column' : '')
                div.person__review.review.position-relative
                    img(src="/images/person-review.png" alt="ПроДокторов" loading="lazy" width="89" height="10").person__review-img.review__img.position-absolute

                    div.person__review-content.review__content
                        div.person__review-left.review__left
                            p.person__review-name.review__name.color-blue.text-w500 Пациент +7 938 12ХХХХХ

                            p.person__review-date.review__date 25 декабря 2022 в 14:30

                            div.person__review-rating.review__rating.flex.flex-align-center
                                include ../icons/person-star

                                p 5.0

                                span Отлично

                            div.person__review-security.review__security.flex.flex-align-center
                                include ../icons/person-security

                                span Отзыв проверен

                        div.person__review-right.review__right
                            div.person__review-expandable.review__expandable
                                div.person__review-block.review__block
                                    p.person__review-title.review__title.text-w500 История пациента
                                    p.person__review-message.review__message ...Хочется сказать, что Рахманов Михаил Сергеевич – виртуоз своего дела! :) Я осталась под большим впечатлением. Просто руки Бога (побывав в руках двух хирургов ранее, мне есть с чем сравнить).
                                div.person__review-block.review__block
                                    p.person__review-title.review__title.text-w500 Понравилось
                                    p.person__review-message.review__message Михаил Сергеевич работает быстро, аккуратно, профессионально, можно даже сказать нежно.

                                if hasAwards
                                    div.person__review-block.review__block.visible-mobile
                                        p.person__review-title.review__title.text-w500 Не понравилось
                                        p.person__review-message.review__message Не может что-то не нравиться, когда все идеально.

                                    div.person__last-reception.review__last-reception.visible-mobile.flex
                                        img(src="/icons/person-calendar.svg" alt="" loading="lazy" width="16" height="16")

                                        div.person__last-reception-right.review__last-reception__right
                                            p.text-w500 Приём был в декабре 2022
                                            p.text-w500 «Стоматология доктора Лившиц» - ул. Торжковская, д. 13, корп. 1

                            button(type="button").person__review-more.review__more.color-blue.visible-mobile.text-w500 Читать полностью

                if hasAwards
                    ul.person__awards.flex
                        li.person__award
                            img(src="images/index/honor-2.svg").person__award-img

                            p.person__awards-name Гран-при ПроДокторов 2023: клиники

                        li.person__award
                            img(src="images/index/honor-2.svg").person__award-img

                            p.person__awards-name Гран-при ПроДокторов 2023: клиники

        a(href="/doctor-detail").person__link.button.dark(class= [isLeft ? '' : 'is-right', hasAwards ? 'visually-hidden' : '']) Подробнее о враче

        if hasAwards
            a(href="#").button.accent.w-250.m-auto Записаться на прием