mixin product-info(secondVisible = false)
    div.product-info
        div.slider(style="--pos: 50%").position-relative.w-100.overflow-hidden
            div.slider__slide.before
                img(src="icons/slider-from.svg").slider__badge.before
                div.slider__img
                    img(src="/images/slider-from.jpg" alt="")

            div.slider__slide.after
                img(src="icons/slider-to.svg").slider__badge.after
                div.slider__img
                    img(src="/images/slider-to.jpg" alt="")

            input.slider__input.position-absolute.w-100.h-100(
                type="range"
                min="0"
                max="100"
                value="50"
                oninput="this.parentElement.style.setProperty('--pos', this.value + '%')"
            )

            div.slider__toggle
                div.slider__button
                    img(src="/icons/slider-toggle.svg" alt="").w-100.h-100

        h3.product-info__title.text-w500 Тотальное восстановление улыбки

        div.product-info__block Услуги: #[a(href="#") Установка формирователя десны, Имплантация зубов All on 4 – все на четырех имплантах]

        if secondVisible
            div.product-info__block Над улыбкой работали: #[a(href="#") Нехай Адам Нулидович, Байдаков Иван Валерьевич, Лукьянчикова  Евгения Владиславовна]