mixin video-btn()
    button(type="button" aria-label="Play").video-play-btn.js-video-btn
        svg(
            width="48"
            height="48"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        )
            circle(
                cx="24"
                cy="24"
                r="24"
                fill="#FF791C"
            )
            path(
                d="M19.192 15.67L32.76 23.303C32.8836 23.3726 32.9865 23.4739 33.058 23.5963C33.1296 23.7188 33.1673 23.8581 33.1673 24C33.1673 24.1418 33.1296 24.2812 33.058 24.4036C32.9865 24.5261 32.8836 24.6274 32.76 24.697L19.192 32.33C19.0702 32.3984 18.9326 32.4338 18.7929 32.4326C18.6532 32.4313 18.5163 32.3935 18.3958 32.323C18.2752 32.2524 18.1752 32.1514 18.1058 32.0302C18.0364 31.909 17.9999 31.7717 18 31.632V16.368C18.0001 16.2284 18.0367 16.0912 18.1062 15.9701C18.1757 15.849 18.2757 15.7482 18.3962 15.6778C18.5167 15.6073 18.6536 15.5696 18.7932 15.5684C18.9328 15.5672 19.0703 15.6016 19.192 15.67Z"
                fill="white"
            )