svg(
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M12 19.2886L19.416 24L18 15.2L24 9.14529L15.75 8L12 0L8.25 8L0 9.14529L6 15.2L4.584 24L12 19.2886Z"
        fill="#F18F01"
    )
