svg(
    width="11"
    height="11"
    viewBox="0 0 11 11"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M5.85301 0.269632C5.66643 -0.090045 5.15193 -0.0900443 4.96535 0.269633L3.65881 2.78822C3.58465 2.93117 3.44618 3.02965 3.28681 3.05279L0.428881 3.46766C0.0157021 3.52764 -0.146331 4.03765 0.156466 4.3251L2.19197 6.25744C2.31313 6.37245 2.36884 6.54038 2.34045 6.70501L1.86902 9.43939C1.79936 9.84342 2.21883 10.155 2.58548 9.9715L5.18545 8.6706C5.32628 8.60013 5.49208 8.60013 5.63291 8.6706L8.23288 9.9715C8.59953 10.155 9.019 9.84342 8.94934 9.43939L8.47791 6.70501C8.44952 6.54038 8.50523 6.37245 8.62639 6.25744L10.6619 4.3251C10.9647 4.03765 10.8027 3.52764 10.3895 3.46766L7.53155 3.05279C7.37218 3.02965 7.23371 2.93117 7.15955 2.78822L5.85301 0.269632Z"
        fill="#F18F01"
    )
