svg(
    width="11"
    height="12"
    viewBox="0 0 11 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M10.5 6.54923C10.5 9.29877 8.3125 10.6735 5.7125 11.4709C5.57635 11.5115 5.42846 11.5096 5.29375 11.4654C2.6875 10.6735 0.5 9.29877 0.5 6.54923V2.69988C0.5 2.55403 0.565848 2.41416 0.683058 2.31104C0.800269 2.20791 0.95924 2.14997 1.125 2.14997C2.375 2.14997 3.9375 1.49008 5.025 0.654221C5.15741 0.554687 5.32585 0.5 5.5 0.5C5.67415 0.5 5.84259 0.554687 5.975 0.654221C7.06875 1.49558 8.625 2.14997 9.875 2.14997C10.0408 2.14997 10.1997 2.20791 10.3169 2.31104C10.4342 2.41416 10.5 2.55403 10.5 2.69988V6.54923Z"
        stroke="#1A5DD0"
        stroke-linejoin="round"
    )
    path(
        d="M3.62891 6.00839L4.87891 7.10858L7.37891 4.9082"
        stroke="#1A5DD0"
        stroke-linejoin="round"
    )
