svg(
    width="42"
    height="42"
    viewBox="0 0 42 42"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M21 42C15.4303 42 10.0887 39.7879 6.15079 35.8492C2.2121 31.9113 -2.69791e-06 26.5697 -3.67176e-06 21C-4.6456e-06 15.4303 2.2121 10.0887 6.15078 6.15079C10.0887 2.21211 15.4303 1.11678e-06 21 1.42941e-07C24.686 -5.01549e-07 28.3074 0.970263 31.5 2.81368C34.6926 4.65711 37.3437 7.30816 39.1863 10.5C41.0297 13.6926 42 17.3139 42 21C42 26.5697 39.7879 31.9113 35.8492 35.8492C31.9113 39.7879 26.5697 42 21 42ZM27.026 19.0634L18.6742 10.7116C18.0126 10.0508 17.0487 9.79263 16.1447 10.0358C15.2416 10.2782 14.5358 10.9847 14.295 11.8879C14.0534 12.7918 14.3124 13.7558 14.9739 14.4166L21.5613 20.9992L14.9739 27.5818C14.3124 28.2434 14.0534 29.2066 14.295 30.1105C14.5366 31.0145 15.2416 31.7203 16.1447 31.9626C17.0487 32.205 18.0126 31.9476 18.6742 31.2868L27.026 22.935C27.5384 22.4234 27.8155 21.7224 27.791 20.9984L27.791 20.9147C27.791 20.22 27.5163 19.5545 27.026 19.0626L27.026 19.0634Z"
        fill="#005A9C"
    )
